.slider.big {
    width: 60%;
    height: 300px;
}

.slider.small img, .slider.big img {
    height: 300px;
}

.slider.small {
    width: 40%;
    height: 300px;
}

.card-blog {
    background: linear-gradient(
225deg
,rgba(26,42,78,0) 0,rgba(26,42,78,.9) 65.07%);
}

.card-blog .overlay-gradient:focus, .card-blog .overlay-gradient:hover {
    background: -webkit-linear-gradient(
225deg
,rgba(6,26,85,0) 0,rgba(1,19,61,.9) 65.07%);
    background: -o-linear-gradient(225deg,rgba(6,26,85,0) 0,rgba(1,19,61,.9) 65.07%);
    background: linear-gradient(
225deg
,rgba(6,26,85,0) 0,rgba(1,19,61,.9) 65.07%);
}