.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
 .meta {
    border-top: 1px solid rgba(0,0,0,0.1);
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 20px;
    margin-top: 20px;
}
.row {
    direction: rtl;
}